h1 {
    font-family: 'SF Pro Text', sans-serif;
    font-style: normal;
    font-weight: 700;
    font-size: 24px;
    line-height: 28px;
    text-align: center;
    color: #000;
}

.button--wrapper {
    display: flex;
    gap: 24px;
}